
    <title><%=title%></title>
  </head>
  <body>
    <%-include('navbar')%>
    <div class="top-wrapper">
      <div>
        <img src="images/bg.jpeg" alt="" class="img-fluid opacity-75" />
      </div>
      <div class="top-heading p-4 card rounded rounded-10">
        <div class="text-center mx-5 p-3">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="">
              <h1 class="mb-3">Manage Events Like Never Before</h1>
              <h5 class="mb-4">
                Best and easiest solution to manage all events in one place
              </h5>
              <a
                class="btn btn-outline-dark btn-lg m-2"
                href="https://www.youtube.com/watch?v=c9B4TPnak1A"
                role="button"
                rel="nofollow"
                target="_blank"
                >Login</a
              >
              <a
                class="btn btn-outline-dark btn-lg m-2"
                href="https://mdbootstrap.com/docs/standard/"
                target="_blank"
                role="button"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <%-include('footer')%>
  </body>
</html>
