* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
/* Default height for small devices */
#intro-example {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}
.top-wrapper {
  position: relative !important;
  background-image: url("images/bg.jpeg");
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 50;
}
.top-wrapper img {
  width: 100%;
  /* position: absolute; */
  object-fit: cover;
}
.top-heading {
  position: absolute !important;
  top: 15%;
  left: 25vw;
  background-color: rgb(228, 253, 244);
}
.in-heading {
  margin-inline: 1rem;
  padding: 2rem;
}
@media screen and (max-width: 992px) {
  .top-heading {
    top: 10%;
    left: 10vw;
    right: 10vw;
    font-size: 1rem;
  }
  .in-heading {
    padding: 1rem;
    margin-inline: 1.2rem;
  }
}
